/* Enter your custom styles here */
#__title1-inner {
	padding-left: 50px;
}

#__label0-text {
	font-size: 18px;
	font-weight: bold;
	padding-left: 50px;
}

#__toolbar1 {
	font-weight: bold;
}
#__page1-title-inner {
	font-size: 18px;
}


